# taking a parquet file and manipulating its earings colummn to produce a new parquet file

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_1 = pd.read_parquet('/home/syedmohammadanjilhussainrizvi/Desktop/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2022-02-10/employee_earnings.parquet')

In [3]:
df_1

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6227
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4437
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,6228
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3127
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,3930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,4052
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2886
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,8586
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,6493
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5261

In [4]:
earnings= df_1.loc[:,'earnings']
earnings

0     6227
1     4437
2     6228
3     3127
4     3930
      ...
95    4052
96    2886
97    8586
98    6493
99    5261
Name: earnings, Length: 100, dtype: int64

In [12]:
new_earnings = earnings * 4

In [13]:
df_1.loc[:,'earnings'] = new_earnings
df_1

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,99632
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,70992
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,99648
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,50032
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,62880
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,64832
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,46176
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,137376
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,103888
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,84176

In [16]:
path = "/home/syedmohammadanjilhussainrizvi/Desktop/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2023-05-22/employee_earnings.parquet"

In [17]:
df_1.to_parquet(path)

# applyting the same to another parquet file

In [18]:
df_2 = pd.read_parquet('/home/syedmohammadanjilhussainrizvi/Desktop/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2022-02-11/employee_earnings.parquet')
df_2

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6096
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4283
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,3438
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,6225
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,5148
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,5266
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2215
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,6353
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,8905
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,7837

In [19]:
earnings1= df_1.loc[:,'earnings']
earnings1

0      99632
1      70992
2      99648
3      50032
4      62880
       ...
95     64832
96     46176
97    137376
98    103888
99     84176
Name: earnings, Length: 100, dtype: int64

In [20]:
new_earnings1 = earnings1 * 4

In [21]:
new_earnings1

0     398528
1     283968
2     398592
3     200128
4     251520
       ...
95    259328
96    184704
97    549504
98    415552
99    336704
Name: earnings, Length: 100, dtype: int64

In [22]:
path1 = path = "/home/syedmohammadanjilhussainrizvi/Desktop/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2023-05-23/employee_earnings.parquet"

In [23]:
df_2.to_parquet(path)